### Importing required packages

In [29]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

### To read Dataset

In [30]:
data = pd.read_csv(r"D:\course.csv")
data.tail()

,Platform,Course Name,University,Difficulty Level,Course URL,Course Description,Skills
4203,edx,Global China: From the Mongols to the Ming,Harvard University,Beginner,https://www.edx.org/course/global-china-from-t...,Explore the impact of the conquest dynasties a...,"In the 13th century, by force of arms, the Mon..."
4204,edx,Leaders in Citizen Security and Justice Manage...,Inter-American Development Bank,Intermediate,https://www.edx.org/course/leaders-in-citizen-...,"Learn about the latest in prevention, police a...",The high rates of crime and violence are two o...
4205,edx,Computational Neuroscience: Neuronal Dynamics ...,École polytechnique fédérale de Lausanne,Advanced,https://www.edx.org/course/computational-neuro...,This course explains the mathematical and comp...,What happens in your brain when you make a dec...
4206,edx,Cities and the Challenge of Sustainable Develo...,SDG Academy,Beginner,https://www.edx.org/course/cities-and-the-chal...,What is a sustainable city? Learn the basics h...,"According to the United Nations, urbanization ..."
4207,edx,MathTrackX: Special Functions,University of Adelaide,Beginner,https://www.edx.org/course/mathtrackx-special-...,"Understand trigonometric, exponential and loga...",This course is part two of the MathTrackX XSer...

#### Data Description

In [31]:
data.shape

(4208, 7)

In [32]:
data = data[["Platform",'Course Name','Difficulty Level',"Course URL",'Course Description','Skills']]

In [33]:
data.head()

,Platform,Course Name,Difficulty Level,Course URL,Course Description,Skills
0,Coursera,Write A Feature Length Screenplay For Film Or ...,Beginner,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Coursera,Business Strategy: Business Model Canvas Analy...,Beginner,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Coursera,Silicon Thin Film Solar Cells,Advanced,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Coursera,Finance for Managers,Intermediate,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,Coursera,Retrieve Data using Single-Table SQL Queries,Beginner,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...

#### Data Transformation

In [34]:
skills = pd.DataFrame(data["Skills"])
skills

                                                 Skills
0     Drama  Comedy  peering  screenwriting  film  D...
1     Finance  business plan  persona (user experien...
2     chemistry  physics  Solar Energy  film  lambda...
3     accounts receivable  dupont analysis  analysis...
4     Data Analysis  select (sql)  database manageme...
...                                                 ...
4203  In the 13th century, by force of arms, the Mon...
4204  The high rates of crime and violence are two o...
4205  What happens in your brain when you make a dec...
4206  According to the United Nations, urbanization ...
4207  This course is part two of the MathTrackX XSer...

[4208 rows x 1 columns]

In [35]:
# Removing spaces between the words (Lambda funtions can be used as well)

data['Course Name'] = data['Course Name'].str.replace(' ',',')
data['Course Name'] = data['Course Name'].str.replace(',,',',')
data['Course Name'] = data['Course Name'].str.replace(':','')
data['Course Description'] = data['Course Description'].str.replace(' ',',')
data['Course Description'] = data['Course Description'].str.replace(',,',',')
data['Course Description'] = data['Course Description'].str.replace('_','')
data['Course Description'] = data['Course Description'].str.replace(':','')
data['Course Description'] = data['Course Description'].str.replace('(','')
data['Course Description'] = data['Course Description'].str.replace(')','')

#removing paranthesis from skills columns 
data['Skills'] = data['Skills'].str.replace('(','')
data['Skills'] = data['Skills'].str.replace(')','')

In [36]:
data['tags'] = data['Course Name'] + data['Difficulty Level'] + data['Course Description'] + data['Skills']

In [37]:
data.head(5)

,Platform,Course Name,Difficulty Level,Course URL,Course Description,Skills,tags
0,Coursera,"Write,A,Feature,Length,Screenplay,For,Film,Or,...",Beginner,https://www.coursera.org/learn/write-a-feature...,"Write,a,Full,Length,Feature,Film,Script,In,thi...",Drama Comedy peering screenwriting film D...,"Write,A,Feature,Length,Screenplay,For,Film,Or,..."
1,Coursera,"Business,Strategy,Business,Model,Canvas,Analys...",Beginner,https://www.coursera.org/learn/canvas-analysis...,"By,the,end,of,this,guided,project,you,will,be,...",Finance business plan persona user experienc...,"Business,Strategy,Business,Model,Canvas,Analys..."
2,Coursera,"Silicon,Thin,Film,Solar,Cells",Advanced,https://www.coursera.org/learn/silicon-thin-fi...,"This,course,consists,of,a,general,presentation...",chemistry physics Solar Energy film lambda...,"Silicon,Thin,Film,Solar,CellsAdvancedThis,cour..."
3,Coursera,"Finance,for,Managers",Intermediate,https://www.coursera.org/learn/operational-fin...,"When,it,comes,to,numbers,there,is,always,more,...",accounts receivable dupont analysis analysis...,"Finance,for,ManagersIntermediateWhen,it,comes,..."
4,Coursera,"Retrieve,Data,using,Single-Table,SQL,Queries",Beginner,https://www.coursera.org/learn/single-table-sq...,"In,this,course,you�ll,learn,how,to,effectively...",Data Analysis select sql database management...,"Retrieve,Data,using,Single-Table,SQL,QueriesBe..."

In [38]:
data['tags'].iloc[1]

'Business,Strategy,Business,Model,Canvas,Analysis,with,MiroBeginnerBy,the,end,of,this,guided,project,you,will,be,fluent,in,identifying,and,creating,Business,Model,Canvas,solutions,based,on,previous,high-level,analyses,and,research,data.,This,will,enable,you,to,identify,and,map,the,elements,required,for,new,products,and,services.,Furthermore,it,is,essential,for,generating,positive,results,for,your,business,venture.,This,guided,project,is,designed,to,engage,and,harness,your,visionary,and,exploratory,abilities.,You,will,use,proven,models,in,strategy,and,product,development,with,the,Miro,platform,to,explore,and,analyse,your,business,propositions.,,We,will,practice,critically,examining,results,from,previous,analysis,and,research,results,in,deriving,the,values,for,each,of,the,business,model,sections.Finance  business plan  persona user experience  business model canvas  Planning  Business  project  Product Development  presentation  Strategy business business-strategy'

In [39]:
new_d = data[['Course Name','tags','Platform',"Difficulty Level","Course URL"]]

In [46]:
new_df = pd.concat([new_d,skills],axis =1)
new_df.head()

,Course Name,tags,Platform,Difficulty Level,Course URL,Skills
0,"Write,A,Feature,Length,Screenplay,For,Film,Or,...","Write,A,Feature,Length,Screenplay,For,Film,Or,...",Coursera,Beginner,https://www.coursera.org/learn/write-a-feature...,Drama Comedy peering screenwriting film D...
1,"Business,Strategy,Business,Model,Canvas,Analys...","Business,Strategy,Business,Model,Canvas,Analys...",Coursera,Beginner,https://www.coursera.org/learn/canvas-analysis...,Finance business plan persona (user experien...
2,"Silicon,Thin,Film,Solar,Cells","Silicon,Thin,Film,Solar,CellsAdvancedThis,cour...",Coursera,Advanced,https://www.coursera.org/learn/silicon-thin-fi...,chemistry physics Solar Energy film lambda...
3,"Finance,for,Managers","Finance,for,ManagersIntermediateWhen,it,comes,...",Coursera,Intermediate,https://www.coursera.org/learn/operational-fin...,accounts receivable dupont analysis analysis...
4,"Retrieve,Data,using,Single-Table,SQL,Queries","Retrieve,Data,using,Single-Table,SQL,QueriesBe...",Coursera,Beginner,https://www.coursera.org/learn/single-table-sq...,Data Analysis select (sql) database manageme...

In [47]:
new_df['tags'] = data['tags'].str.replace(',',' ')

In [48]:
new_df['Course Name'] = data['Course Name'].str.replace(',',' ')

In [49]:
new_df.rename(columns = {'Course Name':'course_name'}, inplace = True)
new_df.rename(columns = {"Course URL": "course_url"}, inplace = True)

#### Vectorization

In [50]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')
vectors = cv.fit_transform(new_df['tags']).toarray()

In [51]:
import nltk 
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
def stem(text):
    y=[]
    
    for i in text.split():
        y.append(ps.stem(i))
    
    return " ".join(y)

In [52]:
new_df['tags'] = new_df['tags'].apply(stem)

#### Cosine simiilarity

In [53]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)

In [58]:
def recommend(course):
    course_index = new_df[new_df['course_name'] == course].index[0]
    distances = (similarity[course_index])
    course_list = sorted(list(enumerate(distances)),reverse=True, key=lambda x:x[1])[1:5]
    dist = pd.DataFrame(distances)
   
    
    for i in course_list:
        print("Name of the Course:",new_df.iloc[i[0]].course_name)
        print("Course URL", new_df.iloc[i[0]].course_url)
        print("Platform: ", new_df.iloc[i[0]].Platform)
        print("Reason for recommending this course (Skills) :", new_df.iloc[i[0]].Skills)
        print("Score: ",dist.iloc[i[0]].tolist())  
        print("-------------------------------------------------------------------------------------")

#### Sample Output

In [59]:
recommend("Python Data Visualization")

Name of the Course: Python Data Analysis
Course URL https://www.coursera.org/learn/python-analysis
Platform:  Coursera
Reason for recommending this course (Skills) : Data Visualization  jpeg  dict  Python Programming  Data Analysis  web scraping  analysis  nest  Computer Programming  recursion computer-science software-development
Score:  [0.7601954544552082]
-------------------------------------------------------------------------------------
Name of the Course: Python Data Structures
Course URL https://www.coursera.org/learn/python-data
Platform:  Coursera
Reason for recommending this course (Skills) : dict  Python Programming  python syntax and semantics  Problem Solving  Data Structures  language  Computer Programming  semantics  data type  syntax computer-science software-development
Score:  [0.7150297714445646]
-------------------------------------------------------------------------------------
Name of the Course: Python Data Representations
Course URL https://www.coursera.org/learn/python-representation
Platform:  Coursera
Reason for recommending this course (Skills) : immutable object  Python Programming  Smoothing  process  iteration  Computer Programming  Writing  arrays  substring  string (computer science) computer-science software-development
Score:  [0.7077661083439765]
-------------------------------------------------------------------------------------
Name of the Course: Python Basics for Data Science
Course URL https://www.edx.org/course/python-basics-for-data-science
Platform:  edx
Reason for recommending this course (Skills) : Kickstart your learning of Python for data science, as well as programming in general with this introduction to Python course. This beginner-friendly Python course will quickly take you from zero to programming in Python in a matter of hours and give you a taste of how to start working with data in Python. ~~~~Upon its completion, you'll be able to write your own Python scripts and perform basic hands-on data analysis using our Jupyter-based lab environment. If you want to learn Python from scratch, this course is for you.You can start creating your own data science projects and collaborating with other data scientists using IBM Watson Studio. When you sign up, you will receive free access to Watson Studio. Start now and take advantage of this platform and learn the basics of programming, machine learning, and data visualization with this Beginner course.The objectives of this course is to get you started with Python as the programming language and give you a taste of how to start working with data in Python.In this course you will learn about: Data Analysis & Statistics
Score:  [0.7034321220161139]
-------------------------------------------------------------------------------------

#### To save the model

In [60]:
import pickle

In [61]:
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(new_df.to_dict(),open('course_list.pkl','wb')) #contains the dataframe in dict 
pickle.dump(new_df,open('courses.pkl','wb'))